<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Havit-Chat</title>
</head>
<body>
    <h1>Havit-Chat</h1>
    <div id="chat">

    </div><br>
    <input type="text" name="" id="msg" class="form-control" placeholder="Msg...">
    <br>
    <input type="text" name="" id="username" placeholder="Seu nome de usuário" class="form-control">
    <button onclick="enviar()" class="btn btn-primary btl-lg btn-block">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

<script>
    var socket = io("http://localhost:3001");

    socket.on("disconnect",()=>{
        console.log("Desconectado")
    });

    socket.on("showmsg",(data)=>{
        console.log(data);
        var chat = document.getElementById("chat");
        var p = document.createElement("p");
        p.innerHTML = data.username + ":" + data.msg;
        chat.append(p);
    });

    function enviar(){
        var msgField = document.getElementById("msg");
        var usernameField = document.getElementById("username");

        var msg = msgField.value;
        var usernameField = usernameField.value;
        
        socket.emit("msg",{ msg: msg, username: username });
    }
</script>
</html>